/* CSS Resets */
* {
  padding: 0;
  margin: 0;
}

/* Fonts */
.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

.settings {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons > div {
  display: flex;
}

.button-medium {
  height: 200px;
  width: 200px;
  margin: 10px;
  border: 5px solid black;
  border-radius: 15px;
}

.button-small {
  height: 150px;
  width: 150px;
  margin: 7px;
  border: 5px solid black;
  border-radius: 15px;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.cyan {
  background-color: cyan;
}

.purple {
  background-color: rebeccapurple;
}

.coral {
  background-color: coral;
}

.darkred {
  background-color: darkred;
}

.darkseagreen {
  background-color: darkseagreen;
}

div:has(#start) {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#start {
  border-radius: 15px;
  padding: 10px 25px;
  font-size: 2rem;
  color: white;
  background-color: black;
}

/* Pressed Animation for Game Buttons */
.pressed {
  box-shadow: 0 0 20px black;
  background-color: grey;
}

/* Invisible Class for Start Button */
.invisible {
  display: none;
}

.hidden {
  visibility: hidden;
}

.game-over {
  background-color: red;
}